<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="firefighter">
    <!--    COMMON DEFINITION-->
    <xacro:macro name="expandable" params="name">
        <link name="${name}">
            <xacro:macro name="expandable_geometry">
                <geometry>
                    <cylinder length="0.2" radius="0.02"/>
                </geometry>
            </xacro:macro>
            <visual>
                <xacro:expandable_geometry/>
            </visual>
            <collision>
                <xacro:expandable_geometry/>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="pipe" params="name length">
        <link name="${name}">
            <xacro:macro name="pipe_geometry">
                <geometry>
                    <cylinder length="${length}" radius="0.02"/>
                </geometry>
            </xacro:macro>
            <visual>
                <xacro:pipe_geometry/>
            </visual>
            <collision>
                <xacro:pipe_geometry/>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="wheel" params="name">
        <link name="${name}">
            <xacro:macro name="wheel_geometry">
                <geometry>
                    <cylinder length="0.05" radius="0.05"/>
                </geometry>
            </xacro:macro>
            <visual>
                <xacro:wheel_geometry/>
            </visual>
            <collision>
                <xacro:wheel_geometry/>
            </collision>
        </link>
    </xacro:macro>

    <!-- The base of the robot. All other parts including legs and extendable upper body is attached to the base.
       Base contains the battery and the main computer and is the haviest part of the robot. -->
    <link name="base_link">
        <xacro:macro name="base_link_geometry">
            <geometry>
                <box size="0.3 0.4 0.4"></box>
            </geometry>
        </xacro:macro>
        <visual>
            <xacro:base_link_geometry/>
        </visual>
        <collision>
            <xacro:base_link_geometry/>
        </collision>
    </link>

    <!-- expandable for upper body    -->
    <xacro:expandable name="expandable_from_base_link_to_upper_body"/>
    <joint name="base_link_to_expandable_to_upper_body" type="fixed">
        <parent link="base_link"/>
        <child link="expandable_from_base_link_to_upper_body"/>
        <origin xyz="0 0 0.3 "/>
    </joint>

    <!-- upper body    -->
    <link name="upper_body_link">
        <xacro:macro name="upper_body_geometry">
            <geometry>
                <box size="0.3 0.4 0.2"></box>
            </geometry>
        </xacro:macro>
        <visual>
            <xacro:upper_body_geometry/>
        </visual>
        <collision>
            <xacro:upper_body_geometry/>
        </collision>
    </link>
    <joint name="expandable_from_base_link_to_upper_body_to_upper_body" type="fixed">
        <parent link="expandable_from_base_link_to_upper_body"/>
        <child link="upper_body_link"/>
        <origin xyz="0 0 0.2"/>
    </joint>

    <!-- legs    -->
    <xacro:macro name="leg" params="position parent x_shift">
        <!-- hip       -->
        <xacro:pipe name="${position}_leg_hip" length="0.3"/>
        <joint name="${parent}_to_${position}_leg_hip" type="fixed">
            <parent link="${parent}"/>
            <child link="${position}_leg_hip"/>
            <origin xyz="${x_shift} 0 -0.35"/>
        </joint>

        <!-- ankle        -->
        <xacro:pipe name="${position}_leg_ankle" length="0.3"/>
        <joint name="${position}_leg_hip_to_${position}_leg_ankle" type="fixed">
            <parent link="${position}_leg_hip"/>
            <child link="${position}_leg_ankle"/>
            <origin xyz="0 0 -0.31"/>
        </joint>

        <!-- foot heel-->
        <link name="${position}_foot_heel">
            <xacro:macro name="foot_heel_geometry">
                <geometry>
                    <box size="0.1 0.3 0.1"></box>
                </geometry>
            </xacro:macro>
            <visual>
                <xacro:foot_heel_geometry/>
            </visual>
            <collision>
                <xacro:foot_heel_geometry/>
            </collision>
        </link>
        <joint name="${position}_leg_ankle_to_${position}_foot_heel" type="fixed">
            <parent link="${position}_leg_ankle"/>
            <child link="${position}_foot_heel"/>
            <origin xyz="0 0.1 -0.2"/>
        </joint>
        <xacro:expandable name="${position}_foot_extendable"/>
        <joint name="${position}_foot_heel_to_${position}_foot_extendable" type="fixed">
            <parent link="${position}_foot_heel"/>
            <child link="${position}_foot_extendable"/>
            <origin xyz="0 -0.25 0" rpy="1.5708 0 0"/>
        </joint>
        <!-- foot ball-->
        <link name="${position}_foot_ball">
            <xacro:macro name="foot_ball_geometry">
                <geometry>
                    <box size="0.1 0.2 0.1"></box>
                </geometry>
            </xacro:macro>
            <visual>
                <xacro:foot_ball_geometry/>
            </visual>
            <collision>
                <xacro:foot_ball_geometry/>
            </collision>
        </link>
        <joint name="${position}_foot_extendable_to_${position}_foot_ball" type="fixed">
            <parent link="${position}_foot_extendable"/>
            <child link="${position}_foot_ball"/>
            <!--  move rpy to the actual part instead of the joint           -->
            <origin xyz="0 0 0.2" rpy="1.5708 0 0"/>
        </joint>
        <!-- rear wheel        -->
        <xacro:wheel name="${position}_rear_wheel"/>
        <joint name="${position}_foot_heel_to_${position}_rear_wheel" type="fixed">
            <parent link="${position}_foot_heel"/>
            <child link="${position}_rear_wheel"/>
            <!--  move rpy to the actual part instead of the joint           -->
            <origin xyz="0 0 -0.05" rpy="0 1.5708 0"/>
        </joint>

        <!-- front wheel        -->
        <xacro:wheel name="${position}_front_wheel"/>
        <joint name="${position}_foot_ball_to_${position}_front_wheel" type="fixed">
            <parent link="${position}_foot_ball"/>
            <child link="${position}_front_wheel"/>
            <!--  move rpy to the actual part instead of the joint           -->
            <origin xyz="0 0 0.05" rpy="0 1.5708 0"/>
        </joint>
    </xacro:macro>
    <xacro:leg position="left" parent="base_link" x_shift="0.09"/>
    <xacro:leg position="right" parent="base_link" x_shift="-0.09"/>

    <!-- arms    -->
    <xacro:macro name="arm" params="position parent x_shift spin">
        <!-- shoulder        -->
        <xacro:pipe name="${position}_arm_shoulder" length="0.3"/>
        <joint name="${parent}_to_${position}_arm_shoulder" type="fixed">
            <parent link="${parent}"/>
            <child link="${position}_arm_shoulder"/>
            <origin xyz="${x_shift} -0.1 0" rpy="1.5708 0 ${spin*0.523599}"/>
        </joint>

        <!-- writs        -->
        <xacro:pipe name="${position}_arm_wrist" length="0.3"/>
        <joint name="${position}_arm_shoulder_to_${position}_arm_wrist" type="fixed">
            <parent link="${position}_arm_shoulder"/>
            <child link="${position}_arm_wrist"/>
            <origin xyz="0 0 0.31"/>
        </joint>
    </xacro:macro>
    <xacro:arm position="left" parent="upper_body_link" x_shift="0.25" spin="1"/>
    <xacro:arm position="right" parent="upper_body_link" x_shift="-0.25" spin="-1"/>
</robot>